.navbar-brand{
    margin-left: 200px;
}
.navbar-nav{
    margin-left: 44%;
    padding: 10px;
}
.nav-item1{
    padding: 19px;
    font-weight: 500;
}
.paragraph{
    margin-left: 40px;
}
.card{
    width: 400px;
    height: 514px;
    
}
.btn-card{
    border: none;
    color: white;
    height: 37px;
    width: 124px;
}
.card-text{
    font-weight: 500;
}
